@use '../utils/colors' as *;

button {
  background-color: $orange;
  color: white;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;

  &.noIcon {
    img {
      display: none;
    }
  }

  &:hover {
    box-shadow: 5px 8px 20px 5px $pale-orange;
    transition: 0.2s;
    opacity: 0.8;
  }

  img {
    color: white;
  }
}
