@use '../utils/colors' as *;

button {
  background-color: $orange;
  color: white;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: none;
  border-radius: 10px;
  font-weight: bold;

  img {
    color: white;
  }
}
