@use '../utils/colors' as *;

.imgWrapper {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  max-width: 500px;

  .selectedImage {
    img {
      width: 100%;
      border-radius: 20px;
    }

    .hide {
      display: none;
    }
  }

  .imgSelect {
    display: flex;
    gap: 30px;
    max-width: 100%;
    margin-top: 30px;

    img {
      border-radius: 20px;
      border: 3px solid transparent;
      width: 100px;
      height: auto;

      &.selected {
        border: 3px solid $orange;
        opacity: 0.4;
      }
    }
  }
}
